$white: #fff;
$black: #000;
$red: #f37d79;

$primary: #e9eae2;
$colorText: #333;
$second: #7bcbc1;
$active-text-color: #f8c255;
$humburger-color: #f8c255;

$second: #7bcbc1;
$thirty: #ebb240;
$colorText: #333333;
$activeTextColor: #f8c255;

$studio-title: #fefefe;
$studio-menu: #ff9b6d;
$studio-all: #e9eae2;
$studio-line: #6fc09e;
$studio-text: #333333;
$studio-cv: #fd5000;
$news-bg: #d4edbf;
